//Copyright styling
.footer {
    margin-top: auto;
    margin-bottom: 15px;
    display:flex;
    align-items: center;
    justify-content: left;
    text-align: center;
    color: $verydarkgrey;
    margin-left:3%;

    @media (min-width: $small) {
        margin-left: 8%;
    }

    p {
        //background and border done here so it doesn't fill page and is small box at the bottom of the page
        background: linear-gradient(90deg, rgba(112,66,20, 0.5) .50%);
        border: 1px solid $border-red;
        border-radius: 10px;
        padding: 15px;

        small { 
            font-size: rem(12px);
            line-height: rem(13px);
        }
    }
}

// adjusts margin so it fits on home page with slightly different margin layout
.footer-home {
    @media (min-width: $small) {
    margin-left:5%;
    }
}

//margin of copyright shifts to align with other margins when menu is displayed
.footer.shift {
   margin-left:5%;
}