footer {
    margin: 45px 10px 45px 15px;
    max-width: 100%;
    padding-inline: 15px;
    position:relative;
    border: 2px solid $border-red;
    border-radius: 5px;
    background: linear-gradient(240deg, rgba(140, 140, 140, 0.4) 0.75%);
    color: $verydarkgrey;

    @media (min-width: $small) {
        width: 90%;
        margin: 45px 5%;

    }


    .contactme {
        display: flex;
        padding: 25px 15px;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        @media (min-width: $medium) {
            flex-direction: row;
        }

        .contactdetails {
            display: flex;
             flex-direction: column;
             width: 100%;
             
            @media (min-width: $medium) {
                width:50%;
            }
             
        h1 {
            margin-bottom: 25px;
        }

        p {
            margin-top:0;
            margin-bottom: 10px;
            font-size: rem(19px);
            line-height: rem(28px);

            @media (min-width: $large) {
                margin-right: 30px;
            }

            .linebreak1 {
                display:none;

                @media (min-width: $large) {
                    display:block;
                }
            }

            .linebreak2 {
                display:none;

                @media (min-width: $extralarge) {
                    display:block;
                }
            }
        }
        }

        .formbox {
            display:flex;
            align-items:center;
            flex-grow: 1;
            width: 100%;

            @media (min-width: $medium) {
                width:60%;
            }

            @media (min-width: $large) {
                width:50%;
            }


        .contactme-form {
            display: flex;
            flex-direction: column;
            width: 100%;

            .name-wrapper {
                display: flex;
                flex-direction: row;
                gap:10px;

                .nametext {
                    margin-top:0;
                    width:50%;
                }
            }
            .hidden-label {
                display:none;
            }

            .formtext {
                display:inline-flex;
                margin-top:20px;
            }
            
            .messagetext {
                display:inline-flex;
                margin-top:20px;
                height: 100px;
                min-height: 100px;
                
            }

            .btn-wrapper {
                display: flex;
                justify-content: center;
            }

            .btn-subtmit {
                margin:20px 0;
                display:inline-block;
                font-size: rem(17px);
                line-height: rem(26px);
                font-weight: $font-reg;
                padding: 5px 15px;
                text-transform: uppercase;
                border-radius: 5px;
                background-color: $darkblue;
                color: $white;
            }

            .btn-subtmit:hover {
                background-color: $blue;
            }

        }
    }
}
}

    .bottomlink {
        position: absolute;
        bottom:-20%;
        left:50%;
        transform: translate(-50%, 0);
        margin-bottom:10px;
        padding-bottom:10px;

        @media (min-width: $medium) {
            bottom:-30%;
        }

        a {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: rem(25px);
        font-weight:600;
        padding: 10px 15px;
        border-radius: 10px;
        color: $darkgrey;

        span {
            font-size: rem(40px);
            margin-top: 5px;
            border: 1px solid $white;
            border-radius: 50px;  
        }
        }

        a:hover {
            background-color: $darkred;
            color: $white;
        }

    }   


.formtext {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: $softgrey;
    border: 1.75px solid $darkgrey;
    color: $black;
    transition: box-shadow 0.5s ease;
}

.formtext::placeholder {
    color: rgba(10, 10, 10, 0.6);
    font-size: rem(14px);
}

.formtext:focus {
    border: 3px solid $darkred;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05), 0 0 8px rgba(95, 6, 6, 0.5);
    outline:none;
}