footer {
    margin: 10px 25%;
    padding-inline: 15px;
    position:relative;

    .contactme {
        display: flex;
        padding: 25px;
        flex-direction: row;

        .contactdetails {
            display: flex;
             flex-direction: column;
        h2 {}
        p {}
        }
        .formbox {
        .contactme-form {
            display: flex;
            flex-direction: column;
            gap:10px;
            .name-wrapper {
                display: flex;
                flex-direction: row;
                gap:10px;
            }
            .hidden-label {
                display:none;
            }
            .formtext {}
            .messagetext {}
            .btn-subtmit {}

        }
    }
}

    .bottomlink {
        position: absolute;
        bottom:-80px;
        left:50%;
        transform: translate(-50%, 0);
        margin-bottom:10px;

        a {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: rem(25px);
        font-weight:600;
        //color: $white;
        padding: 10px 15px;

        span {
            font-size: rem(40px);
            margin-top: 5px;
                
        }
        }
        a:hover {
            background-color: $darkred;
            border-radius: 10px;
            color: $white;

            span {
                padding: 0;
                border: 1px solid $white;
                border-radius: 50px;
            }
        }

    
    }   
}