//header styling
//image is set to background img and so that it fills the view point height and across the whole width
header {
    background-image: url("#{$img-path}/hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
    color: $black;
    margin-left:-65px;

    //fills whole width onj all screen sizes
    @media (min-width: $small) {
        margin-left:0;
        width: 100%
    }

    .Headerimg {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;

        //text in center of header
        .headertext {
            text-align: center;
        
            h2 {
                font-size: rem(30px);
                line-height: rem(36px);
                padding: 5px;
                margin-bottom: 25px;

                @media (min-width: $small) {
                    font-size: rem(40px);
                    line-height: rem(48px);
                }
            }

            h4 {
                font-size: rem(20px);
                line-height: rem(24px);
                padding: 3px;

                @media (min-width: $small) {
                    font-size: rem(24px);
                    line-height: rem(29px);
                }
            }


        }
    }

    //scroll down link styling
    //postioned to always be at the bottom of header
    .scrolllink {
        display:none;
        position: absolute;
        bottom:0;
        left:50%;
        transform: translate(-50%, 0);
        margin-bottom:10px;

        @media (min-width: $extrasmall) {
            display:block;
        }
        
        //removes scroll button on small heights
        @media (max-height: 400px) {
            display:none;
        }
        
        //button is stlyed to have no background untill hovered
        a {
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: rem(20px);
            line-height: rem(24px);
            font-weight:600;
            padding: 10px 15px;

            span {
                font-size: rem(30px);
                line-height: rem(36px);
                margin-top: 5px;
            }
        }

        //when hovered coloured background appears and puts border around arrow
        a:hover {
            background-color: $darkred;
            border-radius: 10px;
            color: $white;

            span {
                padding: 0;
                border: 1px solid $white;
                border-radius: 50px;
                }
        }
    
    }
}

//overlay colour is added to not only match the colour theme but to also make text readible over background
//I used border-image so it works indepdantly of background-image
.overlayheader {
    //overlays a sepia colour over the background img
    border-image: linear-gradient(240deg, rgba(112,66,20, 0.5) .55%) fill 1;
}