.my-projects {
    margin: 0 10px 25px;
    padding-top: 15px;

    .projects {
        display:flex;
        flex-wrap:wrap;
        gap: 25px;
        justify-content: center;
        
        .projectbox {
            max-width:100%;
            width:100%;
            margin-top:30px;
            font-size: rem(16px);
            color: $darkgrey;
            position: relative;
            display: flex;
            flex-direction: column;
            border-radius: 3px;
            border: 1px solid $darkgrey;

            //these media queries adjust the project's width based on screen size
            //on small screens its 1 project per row
            // on medium size screens its 2 projects per row
            // on large size screens its 3 projects per row
            @media (min-width: $small) {
                width: 85%
            }

            @media (min-width: $medium) {
                width: 45%;
            }

            @media (min-width: $large) {
                width: 30%;
                
            }

            .projectimg {
                width:100%;
                max-width:100%;
                display:block;
                text-align: center;
                border-bottom: 1px solid $darkgrey;
        
                .projectlabel {
                    background-color: $sepia;
                    position: absolute;
                    top: 10px;
                    right: 0;
                    color: $white;
                    font-size: rem(11px);
                    font-weight: $font-semibold;
                    padding: 5px 10px;
                    line-height: rem(18px);
                    border-radius: 3px 0 0 3px;
                    text-transform: uppercase;
                    z-index: 1;
                    cursor: pointer;
                }

                .hidden-project {
                    display:none;
                }

                .projectlabel:hover {
                    text-decoration: $font-style-underline;
                }
           
                h2 { 
                    position:absolute;
                    top:25%;
                    left:50%;
                    transform:translate(-50%, -50%);
                    width: 250px;
                    font-size: rem(36px);
                    line-height: rem(44px);
                    color:$lightgrey;
                    text-shadow: 0px 3px 3px $black;
                    pointer-events: none;
                }

                img {
                    display:block;
                    height: auto;
                    width:100%;
                    opacity: 0.4;

                    @media (min-width: $medium) {
                        min-height: 270px;
                    }

                    @media (min-width: $large) {
                        min-height: 250px;
                    }
                }

            }

            .projectinfo {
                display:flex;
                flex-direction: column;
                padding: 10px 10px 0 15px;
                color: $darkgrey;
                background: linear-gradient(240deg, rgba(120, 120, 120, 0.4) 0.75%);
                flex-grow: 1;
            
                @media (min-width: $medium) {
                    min-height:177px;
                }
            
                @media (min-width: $large) {
                    min-height:177px;
                }

                @media (min-width: $extralarge) {
                    min-height: 153px;
                }
                
                h2 {
                    min-width: 0;
                    margin-top:0;
                    padding-top:5px;
                    padding-right: 10px;
                    font-size: rem(22px);
                    line-height: rem(26px);
                    font-weight: $font-semibold;
                    margin-bottom: 13px;
                }

                p {
                    min-width: 0;
                    font-size: rem(16px);
                    line-height: rem(24px);
                    margin-bottom: 25px;
                    padding-right: 10px;
                }
            }

            .project-btn-box {
                background: linear-gradient(240deg, rgba(120, 120, 120, 0.4) 0.75%);
                padding-left: 15px;

                .btn-project { 
                    display:inline-flex;
                    font-size: rem(17px);
                    line-height: rem(35px);
                    font-weight: $font-reg;
                    padding: 5px 15px;
                    text-transform: uppercase;
                    border-radius: 5px;
                    margin-bottom: 20px;
                    align-items: center;
                    justify-content: center;
                    background-color: $darkblue;
                    color: $white;

                    span { 
                        margin-left:8px;
                    }
                }

                .btn-project:hover {
                    background-color: $blue;
                }
            }
        }
    }
}

.overlayproject {
    background: linear-gradient(240deg, rgba(112,66,20, 0.5) .55%);
}


