.sidebar {
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    width: 245px;
    height: 100%;
    background-color: $darkgrey;
    color: $offwhite;
    border-right: 2px solid $border-red;
    transition: left 0.5s ease;

    @media (min-width: $small) {
        display:block;
        transition: none;
    }

    .sidenav-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: rem(20px);
        line-height: rem(20px);
        font-weight: $font-semibold;
        
        .intials {
            padding:0 25px;
            margin: 50px 0;

            a {
                font-size: rem(50px);
                line-height: rem(75px);
                font-weight: $font-bold;
                display:block;
                padding: 15px 15px;
                position:relative;
                @include lhCrop(1.5); 
            }

            a:hover {
                background-color: $darkred;
                border-radius: 10px;
            }
        
        }

        .nav-bar {
            display: flex;
            flex-direction: column;
            border-top: 2px solid $border-red;
            border-bottom: 2px solid $border-red;

            .nav {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                row-gap:25px;
                padding: 10px 20px 0 20px;
                margin: 15px 0;

                .navlink {
                    padding: 10px;
                }

                .navlink:hover {
                    background-color: $darkred;
                    border-radius: 10px;
                }
            }
        }

        .contactnav {
            padding:20px 0 10px;
            margin: 10px 0;
            border-top: 2px solid $border-red;
            line-height: rem(19px);

            .contactlink {
                padding: 10px;
            }
            .contactlink:hover {
                background-color: $darkred;
                border-radius: 10px;
            }
        }

        .social-media {
            border-top: 2px solid $border-red;
            padding:5px 0 5px;

            .socials {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin:0;
            padding:10px 5px;

                .sociallink {
                    padding: 5px;
                    margin: 0 5px;
                }

                .sociallink:hover {
                    border: 1px solid $white;
                    border-radius: 50px;
                }
            }
        }
    }
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60px;
    height: 55px;
    position: fixed;
    top: 20px;
    left: 7px;
    margin-top: 0;
    padding: 15px;
    z-index:1;
    border-radius: 8px;
    cursor:pointer;
    transition: left 0.5s ease;
    background-color: $darkgrey;

    .hamburgerline {
        width: 100%;
        height: 5px;
        background-color: $offwhite;
    }

    @media (min-width: $small) {
        display:none;
    }
}

