// Variables

// Colours
$white: #fff;
$black: #000;

//Break Points
$extrasmall:576px;
$small: 768px;
$medium: 992px;
$large: 1200px;

//Fonts
$icomoon: 'icomoon';
$encode: 'Encode Sans';

//Assest Paths
$img-path: '../img';
$font-path: '../fonts';

//font size and line height
$base-font-size: 16px;
$base-line-height: 24px;

//font weights
$font-thin: 100;
$font-extralight: 200;
$font-light: 300;
$font-reg: 400;
$font-med: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;

//font styles
$font-italic: italic;
$font-bold: bold;
$font-underline: underline;