// Variables

// Colours
$white: #fff;
$black: #000;
$blue: #005173;
$red: #C52626;
$verydarkgrey: #1c1c1c;
$darkgrey: #2c2c2c;
$offwhite: #fae7e4;
$verylightgrey: #CCC;
$lightgrey: #999;
$darkred: #950606;
$darkblue: #003153;
$sepia: #704214;
$softgrey: #AAA;

//Border Colors
$border-red: hsl(0, 71%, 37%);

//Break Points
$extrasmall:576px;
$small: 768px;
$medium: 992px;
$large: 1200px;

//Fonts
$icomoon: 'icomoon';
$encode: 'Encode Sans';

//Assest Paths
$img-path: '../img';
$font-path: '../fonts';

//font size and line height
$base-font-size: 16px;
$base-line-height: 24px;

//font weights
$font-thin: 100;
$font-extralight: 200;
$font-light: 300;
$font-reg: 400;
$font-med: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;

//font styles
$font-style-italic: italic;
$font-style-bold: bold;
$font-style-underline: underline;