// Variables

// Colours

//Break Points
$small: 768px;
$medium: 992px;
$large: 1260px;

//Fonts
$Poppins: 'Poppins';
$icomoon: 'icomoon';

//Assest Paths
$img-path: '../images';
$font-path: '../fonts';

//font size and line height
$base-font-size: 16px;
$base-line-height: 24px;

//font weights
$font-thin: 100;
$font-extralight: 200;
$font-light: 300;
$font-reg: 400;
$font-med: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;

//font styles
$font-italic: italic;
$font-bold: bold;
$font-underline: underline;