//Base Styles

//main body set up
body {
    position:relative;
    margin: 0px;
    padding: 0px;
    font-family: $encode, sans-serif;
    font-size: $base-font-size;
    line-height: ($base-line-height/$base-font-size); //line height calcuation for the base font outputs 1.5
    font-weight: $font-reg; 
    letter-spacing: normal;
    color: $darkgrey;
    background-color: $white2;
}

//header margin adjusts to line up with navigation bar
.header {
    margin-left: 65px;

    // margin for when the screen has a naviation bar
    @media (min-width: $small) {
        margin-left: 245px;
    }
}

.header.shift {
    margin-left: 215px;
}

//main content margin adjusts for navigation bar and menu button
.main {
    //margin so it doesnt overlap with menu button
    margin-left: 65px;
    margin-right:15px;

    // margin for when the screen has a naviation bar
    @media (min-width: $small) {
        margin-left: 245px;
        margin-right: 0;
    }
}

.main.shift {
    margin-left: 150px;
     margin-right:0px;
}

* {
    box-sizing: border-box;
}

// Elements Styling
a {
    cursor: pointer;
    text-decoration:none;
}

a:focus { 
    outline: thin dotted;
}

// Prevents useragent styling from overriding colour of links
a:link, a:any-link, a:active, a:focus, a:visited {
    color: inherit;
}

button {
    cursor: pointer;
}

input {
    cursor: text;
}

p {
    margin:0;
    font-size: rem(17px);
    line-height: rem(25px);
    font-weight: $font-reg;   
}

h1, h2, h3, h4 {
    margin:0;
    font-weight: $font-semibold;
}

h1 {
    font-size: rem(38px);
    line-height: rem(46px);
}

h2 {
    font-size: rem(32px);
    line-height: rem(38px);
}

h3 {
    font-size: rem(26px);
    line-height: rem(31px);
}

h4 {
    font-size: rem(20px);
    line-height: rem(24px);
}

p a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
    text-decoration: $font-style-underline;
    text-decoration-thickness: 1.25px;
}

ul {
    list-style: none;
    text-decoration: none;
}

strong {
    font-weight: $font-semibold;
}

small {
    font-weight: $font-light;
}

span {
    font-weight: $font-med;
}

em {
    font-weight: $font-semibold;
    font-style: normal;
}